.span_border {

    border: 1px solid black;
}

.help_cloud {
    text-align: center;
    margin-left: 5px;
    z-index: 0;
    grid-area: messBlock;
    border-radius: 5px;
    background: #cdcb6b;
    position: relative;
    /*width: 500px;*/
    /*height: 200px;*/
}

.help_cloud::after {
    z-index: 0;
    content: '';
    position: absolute;
    left: -17px;
    top: 3px;
    border: 8px solid transparent;
    border-right: 10px solid #cdcb6b;

}